
#trunk-js{
width:100%;
min-height: 250vh;}

* {
margin:0;
padding:0;
}
 

main{
 padding-top: 2.5%;
 padding-bottom: 80px;
color: #ffffff ;
}

name {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

p,a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; color: #ffffff ;text-decoration: none;
}

a:hover {
  color: #ff0066;
  text-decoration: none;
}
    
research{
    font-family: 'Poppins', sans-serif;
    color: #ffffff ;text-decoration: none;
font-size: 36px;
}

project{
    font-family: 'Poppins', sans-serif;
    color: #ffffff ;text-decoration: none;
font-size: 24px;
}

.one {
  position: relative;
}

.two {
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
