
#trunk-js{
width:100%;
min-height: 150vh;}

* {
margin:0;
padding:0;
}
 

main{
 padding-top: 5%;
 padding-bottom: 80px;
}

name {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

p,a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; color: #ffffff ;text-decoration: none;
}

a:hover {
  color: #ff0066;
  text-decoration: none;
}
    
research{
    font-family: 'Poppins', sans-serif;
    color: #ffffff ;text-decoration: none;
font-size: 36px;
}

project{
    font-family: 'Poppins', sans-serif;
    color: #ffffff ;text-decoration: none;
font-size: 26px;
}